/* RESET */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
}

/* HEADER */
header {
    background-color: #2c3e50;
    color: white;
    padding: 15px;
    text-align: center;
}

nav a {
    color: white;
    margin: 10px;
    text-decoration: none;
}

/* HERO */
.hero {
    background-color: #34495e;
    color: white;
    text-align: center;
    padding: 50px;
}

/* INFO */
.info {
    background-color: #e74c3c;
    color: white;
    text-align: center;
    padding: 10px;
}

/* MAIN */
main {
    padding: 20px;
}

/* MENU */
.menu {
    margin-bottom: 30px;
}

/* CARD */
.card {
    background: white;
    padding: 15px;
    margin: 10px 0;
    border-radius: 8px;
}

/* BUTTON */
button {
    padding: 8px 12px;
    background-color: #2ecc71;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* FOOTER */
footer {
    background-color: #2c3e50;
    color: white;
    text-align: center;
    padding: 10px;
}
/* ========================= */
/* MODAL (LAYER SYSTEM) */
/* ========================= */
.modal {
    display: none;
    position: fixed;
    z-index: 1000; /* layer utama */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.5);

    justify-content: center;
    align-items: center;
}

.modal-content {
    background: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

/* ========================= */
/* TOAST */
/* ========================= */
.toast {
    visibility: hidden;
    position: fixed;
    z-index: 2000; /* lebih tinggi dari modal */
    bottom: 20px;
    right: 20px;
    background-color: #2ecc71;
    color: white;
    padding: 15px;
    border-radius: 5px;
}

/* ANIMASI TOAST */
.toast.show {
    visibility: visible;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@keyframes fadein {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes fadeout {
    from { opacity: 1; }
    to { opacity: 0; }
}
